<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="5968DaraMacMeanmain.Halo5Guardians-IntelandSkullsG" Publisher="CN=97468A7F-B9E3-4CEE-BBCE-AAA19C6E02D7" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Halo 5: Guardians - Intel and Skulls Guide</DisplayName>
    <PublisherDisplayName>Dara MacMeanmain</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DaraMacMeanmainApp2015.Windows.App">
      <m2:VisualElements DisplayName="Halo 5: Guardians - Intel and Skulls Guide" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="DaraMacMeanmainApp2015.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>